[Unit]
Description=TVHC RTC Wake Up
After=tvheadend.service

[Service]
RemainAfterExit=yes
ExecStop=/usr/lib/tvhc/tvhcwake.py

[Install]
WantedBy=multi-user.target